*{ box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #e8e8ff;
    width: 80%;
    margin: 30px 150px;
}
 header{
    margin-bottom: 30px;
    height: 70px;
    display: block;

}
h1{
    display:inline-block;
   
    font-size: 28px;
    bottom: 23px;
    position: relative;
    font-family: 'Lobster', cursive;}

.logo{
    display: inline-block;

}
.headarp{
    display: inline-block;
    font-size: 15px;
    color: gray;
    position: relative;
    text-transform: uppercase;
    right: 100px;
    bottom: 2px;
}
.headimag{
    float: right;
    margin: 0px;

}
hr {
	
    background-image: url('img/hr-img.png');
    height: 20px;
   margin: 10px;

} 
.lastimg{
    margin: 0px;
}





/* ----------------------------------------------------------------------------------------------- */


.firstin h2{
    font-style: 'Bebas Neue', cursive;
    text-transform: capitalize;

}
.firtp{
    text-transform: uppercase;
    font-size: 10px;
    display: inline;

}
.firstin figure{

    float: right;
}
figcaption{
    font-size: 5px;
}
article{
    margin:  10px 0px;
}
.pizzimg{

  
    width: 100%;
}
#prargr{
    text-indent: 30px;
    font-size: 15px;
}
.formatyl{
    
    background-image: url("/img/list-bg.png");
    font-size: 22px;
    font-family: 'Architects Daughter', cursive;
    border: 10px;
   padding: 50px;
   box-shadow: 0px 5px 5px grey;
   display: block;
}
.rightpart{
    
    float:right;
    position: relative;
    bottom: 205px;
    padding: 40px;

}
.line{
    text-decoration: line-through;

}
.endsection{
    border: 10px;

}
.vane{
    display: inline;
    border-radius: 50%;
}
.link{

    display: inline-block;
    color: white;
    background-color: rgb(213, 104, 64);
    padding: 3% 4% 3% 4%;
    position: relative;
    left: 650px;
    bottom: 75px;
    font-size: 15px;
}

h3{
    display:inline;
   
    font-size: 20px;
    position: relative;
    left: 10px;
    bottom: 50px;
}
.vanpara{

    position: relative;
    left: 87px;
    bottom: 40px;
}
.footarlogo{
    
    
    display: block;
    margin: auto;
    bottom: 16px;

}
.footarpr{
text-align: center;
}